@import "src/assets/scss/colors";

#sidebar {
    display: block;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;

    header { 
        padding: 10px 5px; 
    }
    &.active {
        min-width: 94px;
        max-width: 94px;
        text-align: center;
    }
    a {
        align-items: center;
        color: $blanco;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        transition: 0.4s;
        text-decoration: none;
        transition-property: background-color;

        mat-icon {
            color: $blanco;
        }
        span {
            margin-top: 12px;
        }
        &:hover,
        &.active {
            background-color: $secundario;
        }
    }
}