<aside id="sidebar" [ngClass]="{'expanded': sidedarIsOpen}">

    <nav class="main-menu">
        <header (click)="onSidebarCollapse()">
            <img [src]="logo" width="80" matTooltipPosition="right">
            <mat-icon *ngIf="sidedarIsOpen">chevron_right</mat-icon>
            <mat-icon *ngIf="!sidedarIsOpen">chevron_left</mat-icon>
        </header>
    
        <a href="#" routerLinkActive="active" matTooltip="Paleta de Colores" matTooltipPosition="right">
            <mat-icon>color_lens</mat-icon>
            <span>Colores</span>
        </a>
        <a routerLink="/customer-new" routerLinkActive="active" matTooltip="Estilos de Formularios" matTooltipPosition="right">
            <mat-icon>fact_check</mat-icon>
            <span>Formularios</span>
        </a>
        <a routerLink="/typography" routerLinkActive="active" matTooltip="Estilos de Tipografía" matTooltipPosition="right">
            <mat-icon>font_download</mat-icon>
            <span>Tipografía</span>
        </a>
        <a routerLink="/customers" routerLinkActive="active" matTooltip="Estilos de Tablas" matTooltipPosition="right">
            <mat-icon>table_view</mat-icon>
            <span>Tablas</span>
        </a>
        <a routerLink="utilities" routerLinkActive="active" matTooltip="Utilidades" matTooltipPosition="right">
            <mat-icon>apps</mat-icon>
            <span>Utilidades</span>
        </a>
        
    </nav>

    <nav class="submenu" *ngIf="sidedarIsOpen">
        <header>
            <h3>Parámetros</h3>
            <span>Motor de reglas</span>
        </header>

        <a class="active">Exonerados y Prescripciones</a>
        <a>Débitos</a>
        <a>Creación de Tasas</a>
        <a>Otras opciones</a>
    </nav>
    
</aside>
