@import "src/assets/scss/colors";

#sidebar {
    height: 100%;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    min-width: 94px;
    max-width: 94px;
    transition: all 0.3s;

    &.expanded {
        display: flex;
        justify-content: space-between;
        min-width: 280px;
        max-width: 280px;
        text-align: center;
    }

    .main-menu {
        background-color: $principal;
        display: block;
        height: 100%;
        width: 94px;

        header { 
            cursor: pointer;
            text-align: center;
            padding: 10px; 

            mat-icon {
                color: #fff;
            }
        }
        a {
            align-items: center;
            border-left: 3px solid transparent;
            color: $blanco;
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            transition: 0.4s;
            text-decoration: none;
            transition-property: background-color;
    
            mat-icon {
                color: $blanco;
            }
            span {
                margin-top: 12px;
            }
            &:hover,
            &.active {
                border-left-color: $blanco;
                background-color: $secundario;
                
            }
        }
    }
}

.submenu {
    text-align: left;

    header {
        padding-top: 1.7em;
        padding-left: 1.7em;
        text-align: left;
        margin-bottom: 1.7em;

        h3 {
            text-transform: uppercase;
        }
        span {
            font-weight: bold;
            color: $principal;
        }
    }
    a {
        color: $gris-claro;
        padding: 1em 3em;
        display: flex;
        flex-direction: column;
        transition: 0.4s;
        text-decoration: none;
        transition-property: background-color;
        
        &.active,
        &:hover {
            cursor: pointer;
            color: $secundario;
            background-color: $blanco;
        }
    }
}
