<header class="animate__animated animate__fadeIn animate__faster">
    <h2 class="animate__animated animate__fadeIn">{{ titleFromBreadCrumbs }}</h2>
    <nav class="toolbar">
        <i class="material-icons-outlined" matTooltip="Centro de Ayuda">help_center</i>
        <i class="material-icons-outlined" matTooltip="Historial">history</i>
        <i (click)="onOpenMenu()" class="material-icons-outlined" matTooltip="Notificaciones">notifications</i>
    </nav>
</header>
<app-breadcrumbs (onTitleChange)="getTitle($event)"></app-breadcrumbs>
