<section class="row asw-box animate__animated animate__fadeIn animate_faster">
    <h2>Título de Sección <small class="text-muted">H2</small></h2>
    <article class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Duis in porta augue. Mauris suscipit pellentesque mollis. 
            Quisque faucibus sed enim vitae tincidunt. 
            Suspendisse potenti. 
            Aliquam mattis odio aliquet laoreet malesuada. 
            Pellentesque nec semper enim, ut auctor justo. 
            Aenean mollis condimentum quam sit amet placerat. 
            In laoreet mauris orci. 
            Morbi rutrum nulla nec nisi placerat, feugiat tempor neque pharetra. 
            Nullam sem magna, rutrum in cursus at, fermentum id erat. 
            Nam dolor metus, tristique ac urna eget, hendrerit lobortis quam. 
            Sed eleifend leo metus, vitae feugiat tortor mattis sed. 
            Praesent congue magna vel turpis tempus ornare vitae quis justo.
        </p>
        <p>Aliquam consectetur augue nec ultrices cursus. 
            Donec eu hendrerit mauris, quis pellentesque nunc. 
            Proin ultricies neque ut velit iaculis lobortis. 
            Integer id mollis massa.
            Donec euismod cursus urna. 
            Sed posuere nisl sit amet eros volutpat condimentum. 
            Ut consectetur ipsum sem, ac viverra sapien ornare at. 
            Nullam ut est arcu. 
            Cras interdum orci sed ipsum ultricies, nec placerat eros vestibulum.
        </p>        
    </article>
    <article class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Duis in porta augue. Mauris suscipit pellentesque mollis. 
            Quisque faucibus sed enim vitae tincidunt. 
            Suspendisse potenti. 
            Aliquam mattis odio aliquet laoreet malesuada. 
            Pellentesque nec semper enim, ut auctor justo. 
            Aenean mollis condimentum quam sit amet placerat. 
            In laoreet mauris orci. 
            Morbi rutrum nulla nec nisi placerat, feugiat tempor neque pharetra. 
            Nullam sem magna, rutrum in cursus at, fermentum id erat. 
            Nam dolor metus, tristique ac urna eget, hendrerit lobortis quam. 
            Sed eleifend leo metus, vitae feugiat tortor mattis sed. 
            Praesent congue magna vel turpis tempus ornare vitae quis justo.
        </p>
        <p>Aliquam consectetur augue nec ultrices cursus. 
            Donec eu hendrerit mauris, quis pellentesque nunc. 
            Proin ultricies neque ut velit iaculis lobortis. 
            Integer id mollis massa.
            Donec euismod cursus urna. 
            Sed posuere nisl sit amet eros volutpat condimentum. 
            Ut consectetur ipsum sem, ac viverra sapien ornare at. 
            Nullam ut est arcu. 
            Cras interdum orci sed ipsum ultricies, nec placerat eros vestibulum.
        </p>        
    </article>    
</section>