@import "src/assets/scss/colors";

@mixin asw-btn($bgColor, $color, $borderColor) {
    background-color: $bgColor;
    border: 1px solid $borderColor;
    color: $color;
    height: 34px;
    min-width: 145px;
    padding: 8px 20px;
    border-radius: 3px;
    transition: .3s;
    transition-property: background-color;    
}

.asw-btn-primary {
    @include asw-btn($boton-principal, #fff, transparent);

    &:hover {
        background-color: $boton-hover;
        outline-color: transparent;
        border-color: transparent;
        
    }
}

.asw-btn-secondary {
    @include asw-btn(#fff, $boton-principal, $boton-principal);

    &:hover {
        background-color: $boton-hover;
        color: #fff;
    }
}

.asw-btn-danger {
    @include asw-btn(#fff, $rojo, $rojo);

    &:hover {
        background-color: $rojo;
        color: #fff;
    }
}

.asw-btn[disabled]    {
    @include asw-btn(#a8a8a8, $blanco, #a8a8a8);
}

.asw-btn-group {
    display: flex;
    gap: 1em;
}