@import "src/assets/scss/colors";

.mat-raised-button {
    transition: .3s !important;
    box-shadow: none!important;
    line-height: 30px !important;
    border: 1px solid transparent !important;
    transition-property: background-color !important;    

    &[color="primary"] {
        color: $blanco !important;
        border-color: transparent !important;
        background-color: $boton-principal !important;
    
        &:focus {
            outline: none !important;
            border-color: $blanco !important;
            background-color: $boton-principal !important;
            box-shadow: 0 0 0 1px $boton-principal !important;
        }
        &:hover {
            outline: none !important;
            box-shadow: none!important;
            border-color: transparent !important;
            background-color: $boton-hover !important;
        }
    }    

    &[color="accent"] {
        color: $boton-principal !important;
        background-color: $blanco !important;
        border-color: $boton-hover !important;
            
        &:focus, 
        &:hover {
            outline: none !important;
            color: $boton-hover !important;
            box-shadow: 0 0 0 .4px $boton-hover !important;
        }
    }

    &[color="warn"] {
        color: $rojo !important;
        border-color: $rojo !important;
        background-color: $blanco !important;
    
        &:focus,
        &:hover {
            outline: none !important;
            border-color: $rojo !important;
            background-color: $blanco !important;
            box-shadow: 0 0 0 1px $rojo !important;
        }    
    }

    &[disabled] {
        color: $blanco !important;
        background-color: #a8a8a8 !important;
    }
}

.asw-btn-group {
    gap: 1em;
    display: flex;
}