@import "src/assets/scss/colors";

@mixin asw-btn($bgColor, $color, $borderColor) {
    background-color: $bgColor;
    border: 1px solid $borderColor;
    color: $color;
    height: 34px;
    min-width: 145px;
    padding: 8px 20px;
    border-radius: 3px;
    transition: .3s;
    transition-property: background-color;    
}

.asw-btn-primary {
    @include asw-btn($boton-principal, #fff, transparent);
    &:focus {
        border-color: #fff;
        background-color: $boton-principal;
        box-shadow: 0 0 0 1px $boton-principal;
        outline: none;
    }
    &:hover {
        border-color: transparent;
        box-shadow: none;
        background-color: $boton-hover;
    }
}

.asw-btn-secondary {
    @include asw-btn(#fff, $boton-principal, $boton-principal);
    &:focus {
        border: 1.5px double $boton-hover;
        color: $boton-hover;
        outline: none;
        line-height: 5px;
    }
    &:hover {
        color: $boton-hover;
        box-shadow: 0 0 0 .4px $boton-hover;
    }
}

.asw-btn-danger {
    @include asw-btn(#fff, $rojo, $rojo);
    &:focus {
        border: 1.5px double $rojo;
        color: $rojo;
        outline: none;
        line-height: 5px;
    }
    &:hover {
        border-color: $rojo;
        background-color: #fff;
        box-shadow: 0 0 0 1px $rojo;
        outline: none;
    }    
}

.asw-btn[disabled] { @include asw-btn(#a8a8a8, $blanco, #a8a8a8); }

.asw-btn-group {
    display: flex;
    gap: 1em;
}