// principales
$principal:#001a5a;
$secundario: #3f4f97;
$alternativo: #a79142; 

// feedback o highlights
$turquesa: #4698cb;
$verde: #f2d750;
$gris-claro: #a8a8a8;
$rojo: #cd0c21;
$gris-oscuro: #707070;

// Texto
$blanco: #f0f7ff;
$negro: #1b1c1e;
$negro-claro: #2b2b2b;

// para botones
$boton-principal: #0246f3;
$boton-hover: #0133af;
$boton-disabled: #a8a8a8;