// Azul
$azul-500:#001a5a;
$azul-400: #0133af;
$azul-300: #3f4f97;
$azul-200: #0246f3;

// Verde
$verde-500: #f2d750;

// Turquesa
$turquesa-500: #4698cb;

// Rojo
$rojo-500: #cd0c21;

// Blanco
$blanco: #fff;

// Negro
$negro-500: #1b1c1e;
$negro-400: #2b2b2b;

// Gris
$gris-500: #707070;
$gris-300: #a8a8a8;
