$principal:#001a5a;
$secundario: #3f4f97;
$alternativo: #a79142; 

$blanco: #f0f7ff;
$celeste: #4698cb;
$gris-claro: #707070;
$naranja: #f2d750;
$negro: #1b1c1e;
$negro-claro: #2b2b2b;
$rojo: #cd0c21;
$rosado: #a8a8a8;

$boton-principal: #0246f3;
$boton-hover: #0133af;
$boton-disabled: #a8a8a8;