.table-search {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .7em;

    .input-search {
        padding-left: 1em;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        mat-icon {
            color: #adadad;
        }
        input {
            margin-left: .7em;
            border-left: 1px solid #adadad;
            padding-left: .7em;
            color: #adadad;
        }
    }
}

.mat-table {
    thead {
        background-color: #f5f8fa;

        th { color: #adadad; }
    }
    tbody { 
        .tools {
            text-align: right;

            i {
                cursor: pointer;
                margin-right: 15px;

                &:last-child { margin-right: 0; }
            }
        }
        tr, td {
            text-align: left;
            padding: 1.2em 1em;
            padding-left: 0;
            border-bottom: 1px solid #f5f8fa;
        }
    }
}