@import "src/assets/scss/colors";

@font-face {
    font-family: 'c';
    src: url('fonts/keep_calm_book-webfont.woff2') format('woff2'), url('fonts/keep_calm_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'keep_calmheavy';
    src: url('fonts/keep_calm_heavy-webfont.woff2') format('woff2'), url('fonts/keep_calm_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'keep_calmlight';
    src: url('fonts/keep_calm_light-webfont.woff2') format('woff2'), url('fonts/keep_calm_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'keep_calm_medregular';
    src: url('fonts/keep_calm_medium-webfont.woff2') format('woff2'), url('fonts/keep_calm_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;

    body {
        font-family: 'keep_calmbook', sans-serif;
        color: $negro-claro;
        font-size: 16px;
        height: 100%;
        margin: 0;

        h1, h2, h3, h4, h5, h6 {
            padding: 0;
            margin: 0;
        }

        h1 {
            font-family: 'keep_calmbook', sans-serif;
            color: $principal;
            font-size: 25px;
            line-height: 23px;
            margin-bottom: 25px;
        }
        h2 {
            font-family: 'keep_calm_medregular', sans-serif;
            color: $principal;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 25px;
        }
        button {
            color: $blanco;
            font-family: 'keep_calmlight';
            font-size: 13px;
            line-height: 18px;
        }
        .mat-table {
            thead th {
                font-family: 'keep_calmbook', sans-serif;
            }
            tbody tr {
                color: $negro-claro;
                font-family: 'keep_calm_medregular', sans-serif;

                td {
                    font-size: 13px;
                }
            } 
        }
    }
}