@import "src/assets/scss/colors";

html, body { height: 100%; }
body { 
    color: $negro;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: $principal;
}

.asw-h1 {
    font-size: 30px;
}

.asw-h2 {
    color: $principal;
    font-size: 22px;
}