@import "src/assets/scss/colors";

.asw-box {
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
}

.azul-500 { color: $azul-500; }
.azul-400 { color: $azul-400; }
.azul-300 { color: $azul-300; }
.azul-200 { color: $azul-200; }

.verde-500 { color: $verde-500; }