/* --------------------------------------- 
    COLORES
 --------------------------------------- */ 
// fondos
$color-principal:#001a5a;
$color-secundario: #3f4f97;
$color-alternativo: #a79142; 

//a texto
$texto-principal: #1b1c1e;
$texto-secundario: #2b2b2b;
$texto-alternativo: #001a5a;
$texto-blanco: #f0f7ff;

// utilitarios
$color-celeste: #4698cb;
$color-naranja: #f2d750;
$color-rosado: #a8a8a8;
$color-rojo: #cd0c21;
$color-gris: #707070;

nav {
    background-color: $color-principal;
    height: 100vh;
    width: 109px;
    // left: 0; 
    // position: fixed;

    a {
        align-items: center;
        color: $texto-blanco;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        transition: 0.4s;
        text-decoration: none;
        transition-property: background-color;

        &:hover,
        &.active {
            background-color: $color-secundario;
        }
        &.toggle-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
            gap: .5em;
    
            span { 
                margin: 0; 
            }
        }
        mat-icon {
            color: $texto-blanco;
        }
        span {
            margin-top: 12px;
        }
    }
}