<aside id="sidebar">
    <nav>
        <a href="#" class="toggle-sidebar">
            <mat-icon>chevron_right</mat-icon>
            <span>Logo</span>
        </a>
        <a href="#" matTooltip="Estilos de Alertas" matTooltipPosition="right">
            <mat-icon>info</mat-icon>
            <span>Alertas</span>
        </a>
        <a href="#" matTooltip="Tipos de Botones" matTooltipPosition="right">
            <mat-icon>dns</mat-icon>
            <span>Botones</span>
        </a>
        <a href="#" matTooltip="Paleta de Colores" matTooltipPosition="right">
            <mat-icon>camera</mat-icon>
            <span>Colores</span>
        </a>
        <a routerLink="/forms" matTooltip="Estilos de Formularios" matTooltipPosition="right">
            <mat-icon>fact_check</mat-icon>
            <span>Formularios</span>
        </a>
        <a href="#" matTooltip="Formato de Alertas" matTooltipPosition="right">
            <mat-icon>font_download</mat-icon>
            <span>Fuentes</span>
        </a>
        <a href="#" matTooltip="Estilos de Tablas" matTooltipPosition="right">
            <mat-icon>table_view</mat-icon>
            <span>Tablas</span>
        </a>
    </nav>
</aside>