<section class="container-login">
    <img [src]="bgImage">

    <app-navbar></app-navbar>

    <div class="asw-box login">
        <h1 class="text-center">Iniciar Sesión</h1>
    
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" autocomplete="off">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                    <span *ngIf="email?.errors?.required">Email es requerido</span>
                    <span *ngIf="email?.errors?.pattern">Email incorrecto</span>
                </mat-error>
            </mat-form-field>       
    
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    <span *ngIf="password?.errors?.required">Contraseña es requerida</span>
                </mat-error>            
            </mat-form-field>       
                
            <div class="text-center mt-4">
                <button 
                    type="submit" 
                    color="primary"
                    mat-raised-button 
                    [disabled]="!loginForm.valid">
                    <span>Acceder</span>
                </button>
    
                <div class="info">
                    <a [routerLink]="['/reestablecer-password']">Olvidé la contraseña</a>
                    <a [routerLink]="['/registro']">Crear una cuenta</a>
                </div>
            </div>
        </form>
    </div>

</section>