@import "src/assets/scss/colors";

.container-login {
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.4;
    }

    .login {
        top: 50%;
        left: 50%;
        width: 450px;
        margin: auto;
        position: absolute;
        background-color: $azul-500;
        transform: translate(-50%, -50%);
    }
    .info {
        margin-bottom: 20px;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 5px;
    }
}

@media (max-width: 400px) {
    .login {
        width: 90%;
    }
}