<h1 class="titulo-principal text-uppercase animate__animated animate__fadeIn animate__faster">Ejemplo de Formulario</h1>

<section class="row asw-box animate__animated animate__fadeIn animate__faster">
    
    <article class="col-md-7 client-data">
        <h2 class="text-muted">Datos del Cliente</h2>

        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                    <span *ngIf="name?.errors?.required">Email es requerido</span>
                    <span *ngIf="name?.errors?.pattern">Email incorrecto</span>
                </mat-error>
            </mat-form-field>       

            <mat-form-field>
                <mat-label>Apellidos</mat-label>
                <input matInput type="text" formControlName="lastname">
                <mat-error *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)">
                    <span *ngIf="lastname?.errors?.required">Apellido es requerido</span>
                    <span *ngIf="lastname?.errors?.pattern">Apellido incorrecto</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="animate__animated animate__fadeIn animate_faster">
                    <span *ngIf="email?.errors?.required">Email es requerido</span>
                    <span *ngIf="email?.errors?.pattern">Email incorrecto</span>
                </mat-error>
            </mat-form-field>            
        
            <mat-form-field>
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput formControlName="birthdate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)" class="animate__animated animate__fadeIn animate_faster">
                    <span *ngIf="birthdate?.errors?.required">Fecha de nacimiento es requerido</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Seleccionar Categoría</mat-label>
                <mat-select formControlName="category">
                  <mat-option *ngFor="let category of customerCategory" [value]="category.value">{{ category.viewValue }}</mat-option>
                </mat-select>
                <mat-error *ngIf="category?.invalid && (category?.dirty || category?.touched)" class="animate__animated animate__fadeIn animate_faster">
                    <span *ngIf="category?.errors?.required">Categoría es requerido</span>
                </mat-error>
            </mat-form-field>

            <section class="input-group">
                <mat-radio-group formControlName="gender">
                    <mat-radio-button value="hombre"  class="text-muted input-radio">Hombre</mat-radio-button>
                    <mat-radio-button value="mujer" class="text-muted input-radio">Mujer</mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)" class="animate__animated animate__fadeIn animate_faster">
                    <span *ngIf="gender?.errors?.required">Género es requerido</span>
                </mat-error>
            </section>

            <section class="input-group">
                <mat-checkbox formControlName="agreeTerms" class="text-muted">
                    Acepta términos y condiciones
                </mat-checkbox>
                <mat-error *ngIf="agreeTerms?.invalid && (agreeTerms?.dirty || agreeTerms?.touched)" class="animate__animated animate__fadeIn animate_faster">
                    <span *ngIf="agreeTerms?.errors?.required">Debe aceptar términos y condiciones</span>
                </mat-error>                
            </section>            
            
            <button 
                type="submit" 
                color="primary"
                mat-raised-button
                [disabled]="!customerForm.valid">
                Enviar Datos
            </button>
        </form>
    </article>

    <article class="col-md-5">
        <h2 class="text-muted">Data Capturada</h2>
        <pre class="text-muted">{{ customerForm.value | json }}</pre>

        <h2 class="text-muted">Estado del Formulario</h2>
        <pre class="text-muted"><strong>Es válido?</strong>: {{ customerForm.valid ? 'Siii' : 'Noooo' }}</pre>
    </article>
    
</section>