@import "src/assets/scss/colors";

.titulo-principal {
    color: $principal;
}

article {
    padding: 30px;

    .input-group {
        width: 100%;
        margin-bottom: 30px;

        mat-radio-button {
            margin-right: 30px;
        }
    }
    mat-form-field {
        width: 100%;
        margin-bottom: 30px;    
    }
}