<section class="row asw-box animate__animated animate__fadeIn animate__faster">
    <article>
        <h2 class="text-muted">Botones</h2>
        <div class="asw-btn-group">
            <button mat-raised-button color="primary">Botón Principal</button>
            <button mat-raised-button color="accent">Botón Secundario</button>
            <button mat-raised-button color="warn">Botón Danger</button>
            <button mat-raised-button disabled>Botón Bloqueado</button>
        </div>
    </article>

    <article>
        <h2 class="text-muted mt-5">Dialogs</h2>    
        <div class="asw-btn-group">
            <button mat-raised-button color="primary" (click)="onDialogSimple()">Simple</button>
            <button mat-raised-button color="accent" (click)="onDialogConfirm()">Confirm</button>
            <button mat-raised-button color="warn" (click)="onDialogError()">Error</button>
        </div>
    </article>
</section>