#wrapper {
    display: flex;
    align-items: stretch;

    .container-fluid {
        width: 100%;
        padding: 0;
        min-height: 100vh;
        transition: all 0.3s;

        .content {
            padding: 0 2.5em 6em;
        }
    }
}