@import "src/assets/scss/colors";

#wrapper {
    display: flex;
    align-items: stretch;

    aside {
        background-color: $principal;
    }
    main {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }
}