@import "src/assets/scss/colors";

footer {
    background-color: $principal;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1.5em;
    padding-right: 7.5em;
    position: fixed;
    bottom: 0;

    a {
        text-decoration: none;
    }

    a, p  {
        margin: 0;
        font-size: 12px;
        color: #fff;
    }
}