#breadcrumb {

    background-color: #f5f8fa;
    border-bottom: 1px solid #ede6e6;
    list-style: none;
    padding: .8em 2em;
    width: 100%;
    margin: 0;

    &:first-child:before {
        display: none;
    }
    &:before {
        content: '>';
        vertical-align: top;
        display: inline-block;
        margin: 0 10px 0 8px;
        -webkit-font-smoothing: antialiased;
    }
    .active {
        color: #acadac;
    }
}