#breadcrumb {

    margin: 0;
    width: 100%;
    font-size: 13px;
    list-style: none;
    padding: .8em 2.3em;
    background-color: #f5f8fa;
    border-bottom: 1px solid #ede6e6;

    &:first-child:before {
        display: none;
    }
    &:before {
        content: '>';
        vertical-align: top;
        margin: 0 10px 0 8px;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
    }
    .active {
        color: #acadac;
    }
}