@import '~@angular/material/theming';
@include mat-core();

/* ------------------------------------------ 
    COLORES DEFINIDOS POR EQUIPO DE UI | UX
 ------------------------------------------- */ 
$principal-1:#001a5a;
$principal-2: #3f4f97;
$principal-3: #a79142; 

$blanco: #f0f7ff;
$celeste: #4698cb;
$gris-claro: #707070;
$naranja: #f2d750;
$negro: #1b1c1e;
$negro-claro: #2b2b2b;
$rojo: #cd0c21;
$rosado: #a8a8a8;

/* ------------------------------------------ 
    PALETA DE COLOR PRINCIPAL
 ------------------------------------------- */ 
$color-principal-1: (
    50 : #e0e4eb,
    100 : #b3bace,
    200 : #808dad,
    300 : #4d5f8c,
    400 : #263c73,
    500 : #001a5a,
    600 : #001752,
    700 : #001348,
    800 : #000f3f,
    900 : #00082e,
    A100 : #6771ff,
    A200 : #3441ff,
    A400 : #0111ff,
    A700 : #000fe6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* ------------------------------------------ 
    PALETA DE COLOR SECUNDARIA
 ------------------------------------------- */ 
$color-principal-2: (
    50 : #e8eaf3,
    100 : #c5cae0,
    200 : #9fa7cb,
    300 : #7984b6,
    400 : #5c69a7,
    500 : #3f4f97,
    600 : #39488f,
    700 : #313f84,
    800 : #29367a,
    900 : #1b2669,
    A100 : #a5b0ff,
    A200 : #7283ff,
    A400 : #3f56ff,
    A700 : #2540ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// light theme
$primary-light: mat-palette($color-principal-1, 500);
$accent-light:  mat-palette($mat-green, 500);
$warn-light:    mat-palette($mat-red);

//  dark theme
$primary-dark: mat-palette($color-principal-2, 500);
$accent-dark:  mat-palette($mat-green, 500);
$warn-dark:    mat-palette($mat-red);

$light-theme: mat-light-theme($primary-light, $accent-light, $warn-light);
$dark-theme: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);

@include angular-material-theme($light-theme);

// .light-theme {
//     @include angular-material-theme($light-theme);
//     background-color: $blanco;
//     color: $negro;
// }
// .dark-theme {
//     @include angular-material-theme($dark-theme);
//     background-color: $negro-claro;
//     color: $blanco;
// }