@import "./assets/scss/palettes";
@import '~@angular/material/theming';

@include mat-core();

// light theme
$primary-light: mat-palette($color-principal, 500);
$accent-light:  mat-palette($color-secundario, 400);
$warn-light:    mat-palette($mat-red);

$light-theme: mat-light-theme($primary-light, $accent-light, $warn-light);

@include angular-material-theme($light-theme);