html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-table {
    width: 100%; 

    thead tr {
        border: none;
        background-color: #f5f8fa;

        th {
            font-size: 16px;
            font-weight: normal;
            line-height: 1.38;
            letter-spacing: normal;
            color: #adadad;
        }
    } 
    tr {
        border-bottom: 1px solid blue !important;
    }
}

.flexbox {
    display: flex !important;
    justify-content: space-between;
    align-items: center;

    > * {
        margin: 0 !important;
    }
}
.flexbox-start {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;

    > * {
        margin: 0 !important;
    }
}