<aside id="notifications-menu" class="expanded">
    <nav>
        <header>
            <div class="title">
                <i class="material-icons-outlined">notifications</i>
                <h2>Notificaciones</h2>
            </div>
            <span class="close-menu">
                <i class="material-icons-outlined">clear</i>
            </span>
        </header>

        <a href="#">Notificación</a>
        <a href="#">Notificación</a>
        <a href="#">Notificación</a>
        <a href="#">Notificación</a>
        <a href="#">Notificación</a>
    </nav>
</aside>