@import "src/assets/scss/colors";
@import "src/assets/scss/typography";

#notifications-menu {
    background-color: #fff;
    height: 100%;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    position: absolute;
    right: -280px;
    min-width: 0;
    transition: all 0.3s;
    z-index: 100;

    &.expanded {
        width: 280px;
    }

    nav {
        header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ede4e4;

            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                i { color: $principal; }
                h2 {
                    color: $principal;
                    font-size: 18px;
                    margin: 0;
                    margin-left: .5em;
                }
            }
            .close-menu {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $blanco;
                background-color: $secundario;
                width: 64px;
                height: 54px;
            }
        }

        a {
            text-decoration: none;
            font-size: 16px;
            font-family: 'keep_calmbook', sans-serif;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            color: $principal;
            padding: 1.2em 2.5em;
            border-bottom: 1px solid #f5e7e7;
            border-bottom-width: 70%;
        }
    }
}